.header{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #103f6e;
	color: rgba(#fff, .8);
	padding: 10px 20px;
	&__user{
		margin-right: 60px;
		font-weight: 700;
		font-size: 18px;
	}
	&__logout{
		cursor: pointer;
		color: rgba(#fff, .8);
		text-decoration: none;
		transition: .3s all ease;
		font-weight: 700;
		&:hover{
			color: #fff;
		}
	}
}
