<form [formGroup]="loginForm" class="auth__form" (ngSubmit)="submit()">
  <h1 class="title">Login:</h1>
  <label  class="auth__label">
    <div class="auth__label-text">Username:</div>
    <input type="text" name="username" formControlName="username" class="auth__input" [ngClass]="{ 'is-invalid': submitted && inpt.username.errors }" />
  </label>
  <div *ngIf="submitted && inpt.username.errors" class="auth__input-error">
      <div *ngIf="inpt.username.errors.required">Username is required</div>
  </div>
  <label  class="auth__label">
    <div class="auth__label-text">Password:</div>
    <input type="password"  name="password" formControlName="password" class="auth__input" [ngClass]="{ 'is-invalid': submitted && inpt.password.errors }" />
  </label>
  <div *ngIf="submitted && inpt.password.errors" class="auth__input-error">
      <div *ngIf="inpt.password.errors.required">Password is required</div>
  </div>
  <div class="auth__bottom">
    <button class="btn" type="submit">Login</button>
    <a routerLink = "/register" class="btn" routerLinkActive="active-link">Register</a>
  </div>
</form>
