@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	font-family: Roboto, Helvetica, Arial, sans-serif;
}
.board{
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-gap: 40px;
	&-col{
		background-color: #e5eef4;
		border-radius: 8px;
		padding: 16px;
		&__title{
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 25px;
			color: #272c4d;
		}
	}
}
