<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<main class="board">
  <div class="board-col"  *ngFor="let statusCol of statusCols; let i = index">
    <div class="board-col__title">{{statusCol}}</div>
    <ng-container *ngFor="let task of taskList; let i = index" > 
        <app-task *ngIf="task.status == statusCol"
          [task]="task"
          [status]="statusCols.status"
        ></app-task> 
    </ng-container>
     <a href="#" class="add-task" (click)="showNewTaskModal()">Add task...</a>
  </div>
  
</main>
<app-modal id='task-modal'></app-modal>