<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<main class="board">
  <div class="board-col"  *ngFor="let list of taskList; let i = index">
    <div class="board-col__title">{{list.name}}</div>
    <div class="task"  *ngFor="let task of list.tasks; let i = index">
      <div class="task__title">{{task.title}}</div>
      <div class="task__author">{{task.author}}</div>
    </div>
    <!-- <a href="#" class="add-task">Add task...</a> -->
  </div>
  
</main>

