<div class="board__name">Board: {{board.name}}</div>
<main class="board">
  <div class="board-col" *ngFor="let status of statuses; let i = index">
    <div class="board-col__title">{{ status }}</div>
    <ng-container *ngFor="let task of board.tasks; let i = index">
      <app-task
        *ngIf="task.status == status"
        [task]="task"
        [status]="task.status"
        (openTaskModal)="onOpenTaskModal($event, task, status)"
        (openTaskEditModal)="onOpenTaskEditModal($event, task, status)"
      ></app-task>
    </ng-container>
    <a href="#" class="add-task add-btn" (click)="showNewTaskModal(status)"
      >Add task...</a
    >
  </div>
  <div class="">
    <a
      href="#"
      class="board-add-col-btn add-btn"
      (click)="showNewStatusModal($event)"
      >Add status...</a
    >
  </div>
</main>


<app-modal id="task-modal">
  <div class="modal__task-title">{{ modalTaskInfo.title }}</div>
  <div class="modal__row">
    <div class="modal__row-name">Description:</div>
    <div class="modal__task-desc">
      {{ modalTaskInfo.desc }}
    </div>
  </div>
  <div class="modal__row">
    <div class="modal__row-name">Status:</div>
    <div class="modal__task-desc"> {{ modalTaskInfo.status }}</div>
  </div>
</app-modal>

<!-- <app-modal id="task-edit-modal" (updateTaskSubmit)="onTaskUpdateSubmit($event)"> -->
<app-modal id="task-edit-modal">
  <div class="modal__title">Task edit</div>
  <form [formGroup]="updateTaskForm" class="modal__form" id="edit-task-form" (ngSubmit)="onTaskUpdateSubmit($event)">
    <div class="modal__row">
      <div class="modal__row-name">Title:</div>
      <input
        type="text"
        class=" modal__form-input"
        name="title"
       
        formControlName="title"
      />
    </div>
    <div class="modal__row">
      <div class="modal__row-name">Description:</div>
      <input
        class=" modal__form-input"
        name="desc"
        formControlName="desc"
      />
    </div>
    <div class="modal__row">
      <div class="modal__row-name">Status:</div>
      <select
        class="modal__form-select select"
        name="status"
        formControlName="status"
      >
        <option *ngFor="let status of statuses" [value]="status">
          {{ status }}
        </option>
      </select>
      
    </div>
    <div class="modal__bottom">
        <button class="btn del-btn" (click)="deleteTask($event)">
            Delete task
        </button>
        <button class="btn" type="submit">
            Save
        </button>
    </div>
  </form>
</app-modal>

<app-modal id="new-task-modal" (NewTaskSubmit)="onNewTaskSubmit($event)">
  <div class="modal__task-title">Create a new task:</div>
  <form class="modal__form" id="new-task-form">
    <label class="modal__row">
      <div class="modal__row-name">Task title:</div>
      <input
        type="text"
        name="title"
        [(ngModel)]="newTask.title"
        class="modal__form-input"
        required
        #title="ngModel"
      />
    </label>
    <label class="modal__row">
      <div class="modal__row-name">Task Description:</div>
      <input
        type="text"
        name="desc"
        [(ngModel)]="newTask.desc"
        class="modal__form-input"
        required
        #desc="ngModel"
      />
    </label>
    <button
      class="modal__form-submit btn"
      [disabled]="title.invalid || desc.invalid"
    >
      Submit
    </button>
  </form>
</app-modal>
<app-modal id="new-status-modal" (NewStatusSubmit)="onNewStatusSubmit($event)">
  <form class="modal__form" id="new-status-form">
    <label class="modal__row">
      <div class="modal__row-name">New status name:</div>
      <input
        type="text"
        name="statusname"
        [(ngModel)]="newStatus"
        class="modal__form-input"
        required
        #statusname="ngModel"
      />
    </label>
    <button class="modal__form-submit" [disabled]="statusname.invalid">
      Submit
    </button>
  </form>
</app-modal> 

