.board{
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-gap: 40px;
	margin-bottom: 50px;
	&-col{
		background-color: #e5eff5;
		border-radius: 6px;
		padding: 10px;
		height: fit-content;
		&__title{
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 25px;
			color: #272c4d;
		}
	}
	&__name{
		font-size: 24px;
		font-weight: 700;
		color: #fff;
		margin-bottom: 25px;
	}
}
