<div class="board__name">
  Board: {{ board.name }}
  <a href="#" class="add-btn remove" (click)="deleteBoard($event, board)"
    >Remove board...</a
  >
</div>
<main class="board">
  <div class="board-col" *ngFor="let status of statuses; let i = index">
    <div class="board-col__top">
      <div class="board-col__title">{{ status.name }}</div>
      <a
        href="#"
        class="board-col__remove"
        (click)="deleteStatus($event, board, status.name)"
        >Remove..</a
      >
    </div>
    <app-task
      *ngFor="let task of status.tasks; let i = index"
      [task]="task"
      [status]="task.status"
      (openTaskModal)="onOpenTaskModal(task)"
      (openTaskEditModal)="onOpenTaskEditModal(task)"
    ></app-task>
    <a
      href="#"
      class="add-task add-btn"
      (click)="$event.preventDefault(); showNewTaskModal(status)"
      >Add task...</a
    >
  </div>
  <div class="">
    <a
      href="#"
      class="board-add-col-btn add-btn"
      (click)="$event.preventDefault(); openDialog(newStatusModal)"
      >Add status...</a
    >
  </div>
</main>

<ng-template #taskInfoModal>
  <div class="modal__container">
    <div class="modal__task-title">{{ modalTaskInfo.title }}</div>
    <div class="modal__row">
      <div class="modal__row-name">Description:</div>
      <div class="modal__task-desc">
        {{ modalTaskInfo.desc }}
      </div>
    </div>
    <div class="modal__row">
      <div class="modal__row-name">Status:</div>
      <div class="modal__task-desc">{{ modalTaskInfo.status }}</div>
    </div>
  </div>
</ng-template>
<ng-template #newTaskModal>
  <div class="modal__container">
    <div class="modal__task-title">Create a new task:</div>
    <form
      class="modal__form"
      id="new-task-form"
      (submit)="onNewTaskSubmit($event)"
    >
      <label class="modal__row">
        <div class="modal__row-name">Task title:</div>
        <input
          type="text"
          name="title"
          [(ngModel)]="newTask.title"
          class="modal__form-input"
          required
          #title="ngModel"
        />
      </label>
      <label class="modal__row">
        <div class="modal__row-name">Task Description:</div>
        <input
          type="text"
          name="desc"
          [(ngModel)]="newTask.desc"
          class="modal__form-input"
          required
          #desc="ngModel"
        />
      </label>
      <button
        class="modal__form-submit btn"
        [disabled]="title.invalid || desc.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</ng-template>
<ng-template #taskEditModal>
  <div class="modal__container">
    <div class="modal__title">Task edit</div>
    <form
      [formGroup]="updateTaskForm"
      class="modal__form"
      id="edit-task-form"
      (ngSubmit)="onTaskUpdateSubmit($event)"
    >
      <div class="modal__row">
        <div class="modal__row-name">Title:</div>
        <input
          type="text"
          class=" modal__form-input"
          name="title"
          formControlName="title"
        />
      </div>
      <div class="modal__row">
        <div class="modal__row-name">Description:</div>
        <input class=" modal__form-input" name="desc" formControlName="desc" />
      </div>
      <div class="modal__row">
        <div class="modal__row-name">Status:</div>
        <select
          class="modal__form-select select"
          name="status"
          formControlName="status"
        >
          <option *ngFor="let status of statuses" [value]="status.name">
            {{ status.name }}
          </option>
        </select>
      </div>
      <div class="modal__bottom">
        <button class="btn del-btn" (click)="deleteTask($event)">
          Delete task
        </button>
        <button class="btn" type="submit" [disabled]="updateTaskForm.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #newStatusModal>
  <div class="modal__container">
    <form
      class="modal__form"
      [formGroup]="updateStatusForm"
      id="new-status-form"
      (submit)="onNewStatusSubmit()"
    >
      <label class="modal__row">
        <div class="modal__row-name">New status name:</div>
        <input
          type="text"
          name="statusname"
          class="modal__form-input"
          required
          formControlName="status"
        />
      </label>
      <button
        class="modal__form-submit"
        type="submit"
        [disabled]="updateStatusForm.controls.status.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</ng-template>
