<div class="modal__wrap" *ngIf="visible">
  <div class="modal__content">
    <a href="#" class="modal__close-btn" (click)="close()">x</a>
    <div class="modal__task-title">{{ taskInfo.title }}</div>
    <div class="modal__row">
      <div class="modal__row-name">Description:</div>
      <div class="modal__task-desc">
        {{ taskInfo.desc }}
      </div>
    </div>
    <div class="modal__row">
      <div class="modal__row-name">Author:</div>
      <div class="modal__task-author">
        {{ taskInfo.author }}
      </div>
    </div>
    <div class="modal__row">
      <div class="modal__row-name">Status:</div>
      <!-- <div class="modal__task-status">
        {{ taskInfo.status }}
      </div> -->
      <select
          class="form-control"
          name="status"
          [ngModel]="taskInfo.status"
          (change)="onChange($event)"
        >
          <option
            *ngFor="let status of statuses"
            [value]="status"
          >
            {{ status }}
          </option>
      </select>
    </div>
  </div>
</div>
