/* You can add global styles to this file, and also import other style files */
*{
	box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
}
body{
	margin: 0;
	padding: 0 20px;
	background-color: #303b4a;
	background-size: cover;
	background-position: center;
	&.show-modal{
		overflow: hidden;
		height: 100%;
	}
}
button{
	cursor: pointer;
}
.title{
	color: #fff;
}
.btn{
	height: 40px;
	padding: 6px 8px;
	color: #fff;
	background-color: #007bff;
	font-weight: 700;
	font-size: 18px;
	border: none;
	border-radius: 3px;
	&[disabled]{
		opacity: 0.5;
	}
}
.del-btn{
	float: right;
}
