/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	font-family: Roboto, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	background-color: #303b4a;
	background-size: cover;
	background-position: center;
	&.show-modal{
		overflow: hidden;
		height: 100%;
	}
}
.container{
	padding: 0 20px;
}

button{
	cursor: pointer;
}
.title{
	color: #fff;
}
.btn{
	height: 40px;
	padding: 0 8px;
	color: #fff;
	background-color: #007bff;
	font-weight: 700;
	font-size: 18px;
	border: none;
	border-radius: 3px;
	text-decoration: none;
	line-height: 40px;
	&[disabled]{
		opacity: 0.5;
	}
	&--no-bg{
		background-color: transparent;
		color: #007bff;
		text-decoration: underline;
		font-size: 20px;
	}
}
.del-btn{
	float: right;
}
.add-btn{
	color: #aaa;
	text-decoration: none;
	font-size: 18px;
}
