<main class="boards">
  <div class="boards__top">
    <div>Select board: </div>
    <select
      *ngIf="boards.length"
      class="boards__select"
      name="board"
      [(ngModel)]="currentBoard"
    >
      <option *ngFor="let board of boards" [value]="board.id">
        {{ board.name }}
      </option>
    </select>
  </div>
  <ng-container *ngFor="let board of boards; let i = index" >
      <app-board  *ngIf="board.id == currentBoard" [board]="board">
        </app-board>
  </ng-container>
  
  <a  *ngIf="!currentBoard" href="#" class="board-add-btn add-btn" (click)="showNewBoardModal($event)"
    >Add board...
  </a>
  <app-modal id="new-board-modal" (NewBoardSubmit)="onNewBoardSubmit($event)">
    <form class="modal__form" id="new-board-form">
      <label class="modal__row">
        <div class="modal__row-name">New board name:</div>
        <input
          type="text"
          name="statusname"
          [(ngModel)]="newBoard"
          class="modal__form-input"
          required
          #statusname="ngModel"
        />
      </label>
      <button class="modal__form-submit" [disabled]="statusname.invalid">
        Submit
      </button>
    </form>
  </app-modal>
</main>
