.boards{
	&__top{
		display: flex;
		align-items: center;
		color: #fff;
		margin-bottom: 30px;
		font-size: 24px;

		@media screen  and (max-width: 480px){
			flex-wrap: wrap;
		}
	}
	&__select{
		margin: 0 14px;
	}
}
.spinner{
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		width: 50px;
		height: 50px;
	}
}
