<h1 class="title">Register:</h1>
<form [formGroup]="registerForm" class="auth__form" novalidate (ngSubmit)="submit()">
  <label  class="auth__label">
    <div class="auth__label-text">Username:</div>
    <input type="text" name="userName" formControlName="userName" class="auth__input">
  </label>
  <label  class="auth__label">
    <div class="auth__label-text">Name:</div>
    <input type="name"  name="name" formControlName="name" class="auth__input">
  </label>  
  <label  class="auth__label">
    <div class="auth__label-text">Password:</div>
    <input type="password"  name="password" formControlName="password" class="auth__input">
  </label>
  <div class="auth__bottom">
    <button class="btn">Confirm</button>
    <a routerLink = "/login" class="btn" routerLinkActive="active-link">Login</a>
  </div>
</form>
